<H1> Welcome to BlackJack</H1>
<H3> Please enter your user name</H3>
<form action='/myaction' method = 'post'>
	<input type = 'text' name = "username"/>
	<input type = "submit" class="btn" />
</form>
